<form class="login-form">
    <div class="login-form-inner-div">
    <div class="login-form-header">
        <h3>LOGIN</h3>
        <span>X</span>
    </div>
    <p class="login-form-input-container">
        <label for="email">Email</label>
        <input type="email" name="email"/>
    </p>
    <p class="login-form-input-container">
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </p>
    <button type="submit" class="login-submit">LOGIN</button>
    </div>
</form>
