<app-user-page></app-user-page>
<div class="user-info">
    <div class="user-buttons">
        <button class="complete">Complete</button>
        <button class="In Progress">In Progress</button>
        <button class="Delayed">Delayed</button>
    </div>
    <!--to be filtered out-->
    <div class="tasks-container">
        <div class="tasks-status">In-Progress</div>
        <h4 class="tasks-title">JavaScript Tutorials</h4>
        <p class="tasks-description">Prepare JavaScript tutorials for presentation.</p>
        <p class="tasks-deadline">Due before 10/8/2022</p>
        <button class="tasks-complete-button">Complete</button>
    </div>
    <div class="tasks-container">
        <div class="tasks-status">In-Progress</div>
        <h4 class="tasks-title">JavaScript Tutorials</h4>
        <p class="tasks-description">Prepare JavaScript tutorials for presentation.</p>
        <p class="tasks-deadline">Due before 10/8/2022</p>
        <button class="tasks-complete-button">Complete</button>
    </div>
    <div class="tasks-container">
        <div class="tasks-status">In-Progress</div>
        <h4 class="tasks-title">JavaScript Tutorials</h4>
        <p class="tasks-description">Prepare JavaScript tutorials for presentation.</p>
        <p class="tasks-deadline">Due before 10/8/2022</p>
        <button class="tasks-complete-button">Complete</button>
    </div>
     <!--to be filtered out-->
    <router-outlet></router-outlet>
</div>
